In [8]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\tazam\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (1.3.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\tazam\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\tazam\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from pandas) (1.21.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\tazam\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\tazam\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
WARNING: You are using pip version 21.1.1; however, version 21.2.1 is available.
You should consider upgrading via the 'C:\Users\Tazam\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [1]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\tazam\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (3.4.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\tazam\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\tazam\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\tazam\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from matplotlib) (8.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\tazam\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\tazam\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.16 in c:\users\tazam\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from matplotlib) (1.21.1)
Requirement already satisfied: six in c:\users\tazam\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from cycler>=0.10->matplotlib) (1.16.0)

In [6]:
import pandas as pd

holdata = pd.read_csv ("HLTWK4Tasmin.csv")

print(holdata)

     Destination  Feedback_Score(Out_of_10)  Average_Hotel_Rating(Out_Of_5)  \
0        Croatia                          7                             4.0
1    New Zealand                          5                             4.2
2       Maldives                          9                             4.8
3    Netherlands                          5                             3.0
4          India                          6                             3.5
5          Spain                          7                             2.4
6         Turkey                          6                             4.4
7       Tenerife                          3                             5.0
8       Portugal                          4                             3.6
9          Ibiza                          3                             4.2
10  South Africa                          8                             4.7
11       Tunisia                          7                             3.2
12   East Africa                          6                             3.6
13        Brazil                          9                             4.7
14       Cananda                          8                             4.5

    Number_Of_All-inclusive_Hotels  Most_Visited_City
0                               24          Dubrovnik
1                              256           Auckland
2                               57         Malé Atoll
3                                2          Amsterdam
4                              106               Agra
5                              158          Barcelona
6                               89           Istanbul
7                               96  Puerto de la Cruz
8                              109             Lisbon
9                              130      Santa Eulalia
10                             230          Cape Town
11                              43              Tunis
12                             159          Mauritius
13                              83     Rio De Janeiro
14                             180            Toronto

In [50]:
#how many rows and columns are there?
import pandas as pd

data = pd.read_csv ("HLTWK4Tasmin.csv")

data.shape

(15, 5)

In [51]:
#Print row 3-8 (using iloc/loc)

import pandas as pd

data = pd.read_csv ("HLTWK4Tasmin.csv")

print(data.iloc[2:8])

   Destination  Feedback_Score(Out_of_10)  Average_Hotel_Rating(Out_Of_5)  \
2     Maldives                          9                             4.8
3  Netherlands                          5                             3.0
4        India                          6                             3.5
5        Spain                          7                             2.4
6       Turkey                          6                             4.4
7     Tenerife                          3                             5.0

   Number_Of_All-inclusive_Hotels  Most_Visited_City
2                              57         Malé Atoll
3                               2          Amsterdam
4                             106               Agra
5                             158          Barcelona
6                              89           Istanbul
7                              96  Puerto de la Cruz

In [22]:
#Find the mean number of all-inclusive hotels across all destinations  

import pandas as pd

data = pd.read_csv ("HLTWK4Tasmin.csv")

data["Number_Of_All-inclusive_Hotels"].mean()

114.8

In [58]:
#Find the lowest scoring destination

import pandas as pd

data = pd.read_csv ("HLTWK4Tasmin.csv")

data["Feedback_Score(Out_of_10)"].tail(1)

14    8
Name: Feedback_Score(Out_of_10), dtype: int64

In [59]:
#Find the highest scoring destination

import pandas as pd

data = pd.read_csv ("HLTWK4Tasmin.csv")

data["Feedback_Score(Out_of_10)"].head(1)

0    7
Name: Feedback_Score(Out_of_10), dtype: int64

In [60]:
#Find all desinations where there are more then 9 all-inclusive hotels

import pandas as pd

data = pd.read_csv ("HLTWK4Tasmin.csv")

myfilter = data["Number_Of_All-inclusive_Hotels"] > 9
myfilter

0      True
1      True
2      True
3     False
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
Name: Number_Of_All-inclusive_Hotels, dtype: bool

In [61]:
#Filter the data by score above 8
import pandas as pd

data = pd.read_csv ("HLTWK4Tasmin.csv")

myfilter = data["Feedback_Score(Out_of_10)"] > 8
print(myfilter)

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14    False
Name: Feedback_Score(Out_of_10), dtype: bool

In [63]:
#Filter the data score below 2
import pandas as pd

data = pd.read_csv ("HLTWK4Tasmin.csv")

myfilter = data["Feedback_Score(Out_of_10)"] < 2

print(myfilter)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: Feedback_Score(Out_of_10), dtype: bool

In [64]:
#Is there a correlation between number of all-inclusive hotels and score 
import pandas as pd

data = pd.read_csv ("HLTWK4Tasmin.csv")

print(data["Number_Of_All-inclusive_Hotels"].corr(data["Feedback_Score(Out_of_10)"]))

-0.017063708493776832

In [63]:
#Create a data visualisation diagram to show destination and highest score

import pandas as pd 

data = pd.read_csv("HLTWK4Tasmin.csv")

type(df)

pd.set_option("display.max.columns", None)

df.head(16)

,Destination,Feedback_Score(Out_of_10),Average_Hotel_Rating(Out_Of_5),Number_Of_All-inclusive_Hotels,Most_Visited_City
0,Croatia,7,4.0,24,Dubrovnik
1,New Zealand,5,4.2,256,Auckland
2,Maldives,9,4.8,57,Malé Atoll
3,Netherlands,5,3.0,2,Amsterdam
4,India,6,3.5,106,Agra
5,Spain,7,2.4,158,Barcelona
6,Turkey,6,4.4,89,Istanbul
7,Tenerife,3,5.0,96,Puerto de la Cruz
8,Portugal,4,3.6,109,Lisbon
9,Ibiza,3,4.2,130,Santa Eulalia
10,South Africa,8,4.7,230,Cape Town
11,Tunisia,7,3.2,43,Tunis
12,East Africa,6,3.6,159,Mauritius
13,Brazil,9,4.7,83,Rio De Janeiro
14,Cananda,8,4.5,180,Toronto

In [7]:
#Create a data visualisation diagram to show destination and highest score
import pandas as pd
import matplotlib.pyplot as plt

df.plot(x=["Destination"], y=["Feedback_Score(Out_of_10)", "Average_Hotel_Rating(Out_Of_5)"])
plt.show()

ModuleNotFoundError: No module named 'matplotlib'